.character_info {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .character_desc {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .char_info {
      display: flex;
      gap: 4px;
      align-items: baseline;
    }

    .character_img {
      img {
        border: 1px solid #000;
      }
    }
  }
}
