#root {
  max-width: 1340px;
  min-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 500px; */

  .houses {
    img {
      width: 50px;
      height: 50px;

      &:hover {
        filter: drop-shadow(0 0 0.75rem #ffffff);
      }
    }
    .MuiIconButton-root {
      &:focus {
        outline: none;
      }
    }
  }

  .MuiFormControl-root {
    width: 200px;
  }
}
